:root {
    --clr-text-blue-800: hsl(238, 29%, 16%);
    --clr-text-red: hsl(14, 88%, 65%);
    --clr-text-blue-600: hsl(237, 12%, 33%);
    --clr-text-blue-400: hsl(240, 6%, 50%);
    --clr-divider-blue-200: hsl(240, 5%, 91%);
    --gradient-violet-blue: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Kumbh Sans", sans-serif;
    font-size: 1.2rem;
    color: var(--clr-text-blue-400);
    line-height: 1.5;
}

@media (min-width: 700px) {
    body {
        font-size: 1.4rem;
    }
}

img {
    max-width: 100%;
    display: block;
}

.accordion__title {
    font-size: 3rem;
    text-align: center;
    color: var(--clr-text-blue-800);
    margin-bottom: 3rem;
}

@media (min-width: 700px) {
    .accordion__title {
        text-align: left;
        font-size: 3.2rem;
    }
}

.dropdown__title p {
    color: var(--clr-text-blue-600);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--gradient-violet-blue);
}

.accordion {
    margin: 10rem auto;
    position: relative;
    width: 87%;
    max-width: 375px;
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    /* Tinkering with the background image to match the design */
    background-image: url(./images/bg-pattern-mobile.svg);
    background-color: white;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 70%;
}

@media (min-width: 700px) {
    .accordion {
        max-width: 920px;
        flex-direction: row;
        /* Tinkering with the background image to match the design */
        background-image: url(./images/bg-pattern-desktop.svg);
        background-size: 90%;
        background-position: -540% 70%;
    }

    .accordion__img-container,
    .accordion__content {
        flex: 1;
    }

    .accordion__img-container {
        /* Center illustration image on desktop */
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    .accordion__content {
        padding: 6.5rem 10% 8rem 1.5rem;
    }
}

.accordion__illustration-mobile {
    width: 70%;
    margin: 0 auto;
    transform: translateY(-60%);
}

/* The box image and woman illustration for desktop will not be shown on mobile */
.accordion__illustration-desktop,
.accordion__illustration-box {
    display: none;
}

@media (min-width: 700px) {
    .accordion__illustration-mobile {
        display: none;
    }

    .accordion__illustration-desktop {
        display: block;
        transform: translateX(-15%);
    }

    .accordion__illustration-box {
        /* tinkering to get the box right above the woman illustration */
        position: absolute;
        display: block;
        width: 20%;
        left: 0;
        top: 50%;
        z-index: 1;
        transform: translateX(-50%) translateY(-30%);
    }
}

.accordion__content {
    transform: translateY(-5rem);
    width: 85%;
    margin: 0 auto;
}

@media (min-width: 700px) {
    .accordion__content {
        transform: translateY(0);
    }
}

.accordion__dropdown {
    padding: 1.5rem 0;
    border-bottom: 1px solid var(--clr-divider-blue-200);
}

.dropdown__title {
    /* Center the arrow icon */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* Reset button style */
    background: none;
    border: none;
    outline: none;
    font-family: inherit;
    cursor: pointer;
}

.dropdown__title:hover p {
    color: var(--clr-text-red);
}

.dropdown__title:focus p {
    outline: 2px solid var(--clr-text-blue-400);
    outline-offset: 4px;
}

/* ===== Active state ===== */

.dropdown__body {
    display: none;
    margin-top: 1rem;
}

/* When active, change color of the dropdown title to bold blue */
.accordion__dropdown.active .dropdown__title p {
    font-weight: 700;
    color: var(--clr-text-blue-800);
}

/* rotate the arrow icon */
.accordion__dropdown.active .dropdown__arrow-icon {
    transform: rotate(180deg);
}

/* Show the dropdown body */
.accordion__dropdown.active .dropdown__body {
    display: block;
}
